<h2>Coloque el email del usuario que desa cambiar el rol</h2>

<form action="http://localhost:8080/ecommerce/user/admin/rol", method="post">
  <input name="email" value="email" /><br>
  <button value="submit">Cambiar</button><br>

</form>