<h2>obetener todos los usuarios de la BD</h2>

<form action="http://localhost:8080/ecommerce/user/admin/listusers", method="get">
  <button value="submit">Traerse usuarios de la BD</button><br>
</form>